body {
  background-image: url("/images/27274.jpg");
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;

}

h1{
  color: black;
  text-align: center;
  margin: 100px auto;
  width:100%;
  font-style: initial;
  font-family:fantasy;
  font-size:xxx-large;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size:12px;
}
